.logo{
  color: black;
  font-size: 27px;
  padding: 15px;
}
.logo img{
  border-radius: 50%;
  border: 0px;
  height: 60px;
  width: 60px;
  margin: 0px 10px;
}
ul{
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
li{
  padding: 15px;
  font-size: 27px;
  color: black;
}
.rest{
  color: black;
  padding: 27px 15px;
}
.rest:hover{
  color: blue;
}
a{
  text-decoration: none;
 color: black;
}
li
:hover{
  color: black;
  text-shadow: 0px 0px 4px red;
}
.head{
  color: white;
background-image: url(E:\Fitness\gym\girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.jpg);
height: 875px;
text-align: center;
padding: 0px 34px;
width: 100%;
}
.head h1{
  font-size: 4.5rem;
  margin: 2rem 0rem;
}
.head p{
  font-size: 24px;
}
.head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.head button{
  background-color: skyblue;
 border-radius: 14px;
font-size: 2rem;
padding: 5px 10px;
}
.photos{
  display: flex;
  justify-content: space-around;
  padding: 12rem 20rem;
  color: aliceblue;
}
.classic{
  background-image: url(E:\Fitness\gym\src\Assets\Group 135.jpg);
  height: 220px;
  width: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 25px chocolate;
}
.standard{
  background-image: url(E:\Fitness\gym\src\Assets\Group 136.jpg);
  height: 220px;
  width: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 25px purple;
}
.premium{
  background-image: url(E:\Fitness\gym\src\Assets\Group 137.jpg);
  height: 220px;
  width: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 25px blue;
}
.classic button{
  color: white;
  background-color: orange;
  border: 0px;
  border-radius: 7px;
  padding: 2px 15px;
}
.classic button:hover{
  color: beige;
  background-color: chocolate;
}
.standard button{
  color: white;
  background-color: purple;
  border: 0px;
  border-radius: 7px;
  padding: 2px 15px;
}
.standard button:hover{
  background-color: blueviolet;
}
.premium button{
  color: white;
  background-color: skyblue;
  border: 0px;
  border-radius: 7px;
  padding: 2px 15px;
}
.premium button:hover{
  background-color: darkcyan;
}
.grid{
  display: flex;
}
.diff{
  display: flex;
  width: 50%;
}
.text{
  width: 50%;
  padding: 94px 95px;
}
.text p{
  color: orange;
}
.text button{
  background-color: skyblue;
  border-radius: 10px;
  border: 0px;
  padding: 5px 25px;
  font-size: x-large;
}
.text button:hover{
  color: white;
  background-color: cadetblue;
}
.text h4{
  color: orange;
  padding: 50px 3px;

}
.text h5{
  color: grey;
  padding: 63px 5px;
}
.fitness{
  background-image: url('E:\Fitness\gym\fitness-woman-with-measurement-tape_23-2148173266_auto_x2.jpg') ;
  background-repeat:no-repeat ;
  height: 500px;
  width: 47%;
  padding: 3px 3px;
  position: relative;
  top: 12rem;
}
.weight{
 background-image: url(E:\Fitness\gym\side-view-beautiful-muscular-woman-running-treadmill_109710-1641_auto_x2.jpg);
 background-repeat:no-repeat ;
 height: 400px;
 width: 400px;
 padding: 3px 3px;

}
.weightt{
  background-image: url(E:\Fitness\gym\brunette-woman-doing-battle-rope-training_7502-4793_auto_x2.jpg);
  background-repeat:no-repeat ;
  height: 400px;
  width: 400px;
  padding: 13px 3px;
}
.classes{
  margin: 100px 0px;
  color: white;
  background-color: black;
  padding: 83px 4px;
}
.classes h1{
  text-align: center;
  font-size: 75px;
}
.classes p{
  font-size: 35px;
  padding: 10px 8px;
}
.upper{
  display: flex;
  padding: 10px 42px;
}
.upperOne{
  background-image: url(E:\Fitness\gym\src\fit-young-woman-lifting-barbells-looking-focused-working-out-gym_155003-5353.jpg);
  height: 500px;
  width: 600px;
}
.upperOne p{
  display: flex;
  justify-content: center;
 position: relative; 
 top: 24rem;
 }
.upperTwo{
  background-image: url(E:\Fitness\gym\woman-doing-exercise-gym_116124-203.jpg);
  height: 500px;
  width: 600px;
}
.upperTwo p{
  display: flex;
  justify-content: center;
  position: relative; 
 top: 24rem;
}
.upperThree{
  background-image: url(E:\Fitness\gym\fitness-days-gorgeous-blonde-woman-gym-her-weekend-time_146671-17084.jpg);
  height: 500px;
  width: 600px;
}
.upperThree p{
  display: flex;
  justify-content: center;
  position: relative; 
 top: 24rem;
}
.lower{
  display: flex;
  padding: 10px 42px;
}
.lowerOne{
  background-image: url(E:\Fitness\gym\woman-exercising-with-dumbbell-muscle-gym_116317-294.jpg);
  height: 500px;
  width: 600px;
}
.lowerOne p{
  display: flex;
  justify-content: center;
  position: relative; 
  top: 24rem;
}
.lowerTwo{
  background-image: url(E:\Fitness\gym\senior-woman-doing-abs-yoga-mat_23-2148282954.jpg);
  height: 500px;
  width: 600px;
}
.lowerTwo p {
  display: flex;
  justify-content: center;
  position: relative; 
  top: 24rem;
}
.lowerThree{
  background-image: url(E:\Fitness\gym\keep-holding-gorgeous-blonde-woman-gym-her-weekend-time_146671-16987.jpg);
  height: 500px;
  width: 600px;
}
.lowerThree p {
  display: flex;
  justify-content: center;
  position: relative; 
  top: 24rem;
}
.teams{
  padding: 2px 60px;
}
.teams h1{
text-align: center;
font-size: 6rem;
}
.teams p{
  color: black;
  text-align: center;
font-size: 2em;
margin: 4rem 10rem;
}
.threePhotos{
  display: flex;
  padding: 70px 110px;
}
.threePhotos p{
  color: black;
}
a{
  padding: 0rem 4rem;
}
.onePhoto{
  text-align: center;
  padding: 2px 65px;
}
.onePhoto:hover{
  opacity: 0.5;
}
.twoPhoto{
  text-align: center;
  padding: 2px 65px;

}
.twoPhoto:hover{
  opacity: 0.5;
}
.threePhoto{
  text-align: center;
  padding: 2px 65px;
}
.threePhoto:hover{
opacity: 0.5;
}
.teambtn{
  text-align: center;
  padding: 4px 0px;
  margin-bottom: 7rem;
}
.teambtn button{
  background-color: skyblue;
 height: 55px;
 border-radius: 14px;
 border: 0px;
 /* padding: 0px 25px; */
 font-size: 30px;
}
.teambtn button:hover{
  color: white;
  background-color: cadetblue;
}
.testimonials{
  text-align: center;
  color: white;
  background-color: black;
}
.testimonials h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.four{
  text-align: center;
  color: white;
  background-color: black;
 
}
.slide{
  color: white;
  background-color: black;
  text-align: center;
  padding: 2rem 6rem;
}
.lorem{
  font-size: 26px;
  padding: 0px 50px;
}
.roundImage img{
  border-radius: 50%;
  border: 3px solid skyblue;
  height: 100px;
  width: 100px;
}
.fullThree{
  margin: 15px 0px;
}
.news{
 text-align: center;
 margin: 110px 0px;
}
.newsPhotos{
display: flex;
padding: 3px 300px;
}
.oneNews{
  margin: 2px 15px;
padding: 40px 65px;
color: skyblue;
background-color: black;
}
.oneNews:hover{
  box-shadow: 0px 0px 25px blue;
}
.oneNews h3{
  padding: 60px 1px;
}
.oneNews p{
  color: lightyellow;
  font-size: 18px;
}
.twoNews{
  margin: 2px 15px;
 padding: 40px 65px;
 color: skyblue;
  background-color: black;
}
.twoNews:hover{
  box-shadow: 0px 0px 25px blue;
}
.twoNews h3{
  padding: 60px 1px;
}
.twoNews p{
  color: lightyellow;
  font-size: 18px;
}
.threeNews{
  margin: 2px 15px;
  padding: 40px 65px;
  color: skyblue;
  background-color: black;
}
.threeNews:hover{
 box-shadow: 0px 0px 25px blue;
}
.threeNews h3{
  padding: 60px 1px;
}
.threeNews p{
  color: lightyellow;
  font-size: 18px;
}
.news a{
color: white;}
.news button{
  padding: 10px 35px;
  margin: 50px 4px;
  background-color: skyblue;
border: 0px solid skyblue;
border-radius: 17px;
font-size: 32px;
}
.news button:hover{
  color: white;
  background-color: cadetblue;
}
.myNav h3{
  display: inline;
  position: relative;
  top: 2rem;
}
.myNews{
  padding: 20px 0px;
}
.new{
  text-align: center;
}
.whatsapp{
  padding: 0px 60px;
  color: black;
}
.whatsapp:hover{
  color: blue;
}
.contactUs{
  display: flex;
  color: white;
  background-color: rgb(33,37,41);
}
.form{
  text-align: center;
padding: 80px 240px;
width: 50%;
margin: 5rem 0rem;
}
.form h1{
  padding: 5rem 0rem;
  font-size: 5rem;
}
option{
  color: aliceblue;
  background-color: rgba(0, 0, 128, 0);
}
.form select{
  border: 3px solid skyblue;
  font-size: 22px;
}
select{
  color: white;
}
textarea{
  color: white;
  background-color: rgba(0, 0, 128, 0);
  margin: 15px 0px;
  border: 3px solid skyblue;
font-size: 22px;
}
.email input{
  background-color: rgba(0, 0, 128, 0);
  width: 36rem;
  height: 49px;
  color: white;
  border: 3px solid skyblue;
  border-radius: 5px;
  margin: 15px 0px;
  font-size: 22px;
  padding: 0px 5px;
}
.form button{
  width: 36rem;
  height: 49px;
  background-color: skyblue;
  font-size: 31px;
  border: 0px;
  border-radius: 12px;
  margin: 12px 0px;
}
.form button:hover{
  color: white;
  background-color: cadetblue;
}
.info{
  margin: 50px 0px;
}
.social{
  color: skyblue;
}
.social svg{
  height: 20px;
  width: 20px;
}
.social svg:hover{
  color: white;
}
.down{
  color: white;
  /* background-color: rgba(0, 0, 128, 0); */
  background-color: rgb(33,37,41);
display: flex;
/* padding: 20rem 0rem; */
padding-bottom: 20rem;
}
.lastLogo{
  display: flex;
  position: relative;
  top: 15rem;
  margin-left: 9rem;
}
.lastLogo img{
  border-radius: 50%;
  border: 0px;
  height: 60px;
  width: 60px;
  margin: 0px 10px;
}
.quickContacts{
  margin: 0rem 30rem;
  margin-left: 20rem;
  margin-right: 12rem;
}
.popularTags{
  margin: 0rem 5rem;
}
.quickContacts h4{
  margin: 4rem 0rem;
}
.quickContacts svg{
  color: skyblue;
  text-align: center;
}
.quickContacts h4, p{
  color: gainsboro;
}
.popularButtons{
  margin: 70px 10px;
  font-size: 30px;
}
.wcs{
  display: flex;
}
.wcs button{
  color: white;
background-color: rgb(33,37,41);
border: 1px solid grey;
padding: 10px 10px;
font-size: 20px;
}
.wcs button:hover{
  color: white;
  background-color: skyblue;
}
.tbs{
  display: flex;
}
.tbs button{
  margin: 10px 4px;
  color: white;
  background-color: rgb(33,37,41);
  border: 1px solid grey;
  padding: 10px 10px;
font-size: 20px;
}
.tbs button:hover{
  color: white;
  background-color: skyblue;
}
.ngp{
  display: flex;
}
.ngp button{
  color: white;
background-color: rgb(33,37,41);
border: 1px solid grey;
padding: 10px 10px;
font-size: 20px;
}
.ngp button:hover{
  color: white;
  background-color: skyblue;
}
.c{
  margin: 0px 10px;
}
.b{
  margin: 0px 10px;

}
.g{
  margin: 0px 10px;

}
.fulfilled{
  display: flex;
  margin: 25px 5px;
}
.customizeIcon{
  height: 30px;
  width: 30px;
  background-color: skyblue;
  text-align: center;
  color: white;
}
.customizeIcon svg{
  color: white;
}
.customizedIcon2{
  height: 30px;
  width: 30px;
  background-color: skyblue;
  text-align: center;
  color: white;
  margin: 0px 10px;
}
.customizedIcon2 svg{
  color: white;

}
.customizedIcon3{
  height: 30px;
  width: 30px;
  background-color: skyblue;
  text-align: center;
  color: white;
}
.customizedIcon3 svg{
  color: white;

}

.atLast{
  height: 8rem;
  width: 100%;
  background-color: rgb(33,37,41);
}
.lastNav{
  color: white;
  height: 3rem;
  width: 100%;
  background-color: skyblue;
  /* margin: 4rem 0rem; */
}
.lastNav li{
  padding: 3px 5px;
}
.copyright h5{
  color: grey;
  text-align: center;
  margin: 2rem 0rem;
}
.hp p{
  font-size: 35px;
  padding: 7rem 25rem;
  text-align: center;
  font-family: auto;
}
.formImage{
  margin-top: 1rem;
}
.popularButtons a{
  color: white;
}
.social a{
  padding: 2px 0px;
  color: skyblue;
}
/* .social a:hover{
  color: white;
} */
.teambtn:hover{
color: white;
}
.teambtn button:hover{
color: black;
background-color: cadetblue;
}
.teambtn a:hover{
  color: black;
}
.headerIcons{
  display: flex;
  flex-direction: column;
  margin-right: 131rem;
/* margin-right: 27rem; */
margin-left: 1rem;
}
.globe{
  height: 70px;
width: 30px;
background-color: white;
border-bottom: 2px solid skyblue;
}
.globe svg{
  height: 25px;
  width: 25px;
  color: black;
  position: relative;
  top: 20px;
}
.globe svg:hover{
  color: blue;
}
.fb{
/* margin: 5px 0px; */
height: 70px;
width: 30px;
background-color: white;
border-bottom: 2px solid skyblue;

}
.fb svg:hover{
  color: blue;
}
.fb svg{
  height: 25px;
width: 25px;
color: black;
position: relative;
top: 20px;
}
.twtr{
  /* margin: 5px 0px; */
  height: 70px;
  width: 30px;
  background-color: white;
  border-bottom: 2px solid skyblue;

}
.twtr svg{
  height: 25px;
width: 25px;
color: black;
position: relative;
top: 20px;
}
.twtr svg:hover{
  color: blue;
}
.igram{
  height: 70px;
width: 30px;
background-color: white;
}
.igram svg{
  height: 25px;
width: 25px;
color: black;
position: relative;
top: 20px;
}
.igram svg:hover{
  color: blue;
}
.upperOne .cardioSpan{
  visibility: hidden;
  width: 400px;
  background-color: rgb(40, 145, 201);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 350px;
    position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;
}
.cardioSpan h6{
  padding: 3px 8px;
}
.upperOne p:hover .cardioSpan{
  visibility: visible;
  opacity: 0.7;
}
.upperTwo .advanceSpan{
  visibility: hidden;
  width: 400px;
  background-color: rgb(40, 145, 201);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 350px;
    position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;
}
.advanceSpan h6{
  padding: 3px 8px;
}
.upperTwo p:hover .advanceSpan{
  visibility: visible;
  opacity: 0.7;
}
.upperThree .cycleSpan{
  visibility: hidden;
  width: 400px;
  background-color: rgb(40, 145, 201);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 350px;
    position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;
}
.cycleSpan h6{
  padding: 3px 8px;
}
.upperThree p:hover .cycleSpan{
  visibility: visible;
  opacity: 0.7;
}
.lowerOne .bodySpan{
  visibility: hidden;
  width: 400px;
  background-color: rgb(40, 145, 201);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 350px;
    position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;
}
.bodySpan h6{
  padding: 3px 8px;
}
.lowerOne p:hover .bodySpan{
  visibility: visible;
  opacity: 0.7;
}
.lowerTwo .yogaSpan{
  visibility: hidden;
  width: 400px;
  background-color: rgb(40, 145, 201);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 350px;
    position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;
}
.yogaSpan h6{
  padding: 3px 8px;
}
.lowerTwo p:hover .yogaSpan{
  visibility: visible;
  opacity: 0.7;
}
.lowerThree .weightSpan{
  visibility: hidden;
  width: 400px;
  background-color: rgb(40, 145, 201);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 350px;
    position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -180px;
}
.weightSpan h6{
  padding: 3px 8px;
}
.lowerThree p:hover .weightSpan{
  visibility: visible;
  opacity: 0.7;
}
.sixPhotos h6{
  font-size: 20px;
}
.weightSpan button{
  margin-top: 4rem;
  border: 0px;
  border-radius: 23px;
  font-size: 17px;
  padding: 8px 8px;
}
.cardioSpan button{
  margin-top: 4rem;
  border: 0px;
  border-radius: 23px;
  font-size: 17px;
  padding: 8px 8px;
}
.advanceSpan button{
  margin-top: 4rem;
  border: 0px;
  border-radius: 23px;
  font-size: 17px;
  padding: 8px 8px;
}
.cycleSpan button{
  margin-top: 4rem;
  border: 0px;
  border-radius: 23px;
  font-size: 17px;
  padding: 8px 8px;
}
.yogaSpan button{
  margin-top: 4rem;
  border: 0px;
  border-radius: 23px;
  font-size: 17px;
  padding: 8px 8px;
}
.bodySpan button{
  margin-top: 4rem;
  border: 0px;
  border-radius: 23px;
  font-size: 17px;
  padding: 8px 8px;
}
.globe a{
  color: black;
  padding: 0px 0px;
}
.fb a{
  color: black;
  padding: 0px 0px;
}
.twtr a{
  color: black;
  padding: 0px 0px;
}
.igram a{
  color: black;
  padding: 0px 0px;
}
.customizeIcon a{
  padding: 0px 0px;
}
.customizedIcon2 a{
  padding: 0px 0px;
}
.customizedIcon3 a{
  padding: 0px 0px;
}