.logo{
  color: black;
  font-size: 27px;
  padding: 15px;
}
ul{
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
li{
  padding: 15px;
  font-size: 27px;
}
.rest{
  color: black;
  padding: 15px;
}
.rest:hover{
  color: blue;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
  text-shadow: 0px 0px 3px blue;
}
.head{
  color: white;
background-image: url(E:\Fitness\gym\girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.jpg);
height: 875px;
text-align: center;
padding: 0px 34px;
}
.head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.photos{
  display: flex;
  justify-content: space-around;
  padding: 133px 33px;
  color: aliceblue;
}
.classic{
  background-image: url(E:\Fitness\gym\healthy-woman-running-track-gym_1303-22549.jpg);
  height: 220px;
  width: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.standard{
  background-image: url(E:\Fitness\gym\fitness-days-gorgeous-blonde-woman-gym-her-weekend-time_146671-17084.jpg);
  height: 220px;
  width: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
.premium{
  background-image: url(E:\Fitness\gym\intensive-workout-with-kettlebell_1098-14426.jpg);
  height: 220px;
  width: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.classic button{
  color: white;
  background-color: orange;
}
.standard button{
  color: white;
  background-color: purple;
}
.premium button{
  color: white;
  background-color: skyblue;
}
.grid{
  display: flex;
}
.diff{
  display: flex;
  width: 50%;
}
.text{
  width: 50%;
  padding: 94px 95px;
}
.text p{
  color: orange;
}
.text button{
  background-color: skyblue;
  border-radius: 10px;
}
.text h4{
  color: orange;
  padding: 50px 3px;

}
.text h5{
  color: grey;
  padding: 63px 5px;
}
.fitness{
  background-image: url('E:\Fitness\gym\fitness-woman-with-measurement-tape_23-2148173266_auto_x2.jpg') ;
  background-repeat:no-repeat ;
  height: 500px;
  width: 47%;
  padding: 3px 3px;
  position: relative;
  top: 12rem;
}
.weight{
 background-image: url(E:\Fitness\gym\side-view-beautiful-muscular-woman-running-treadmill_109710-1641_auto_x2.jpg);
 background-repeat:no-repeat ;
 height: 400px;
 width: 400px;
 padding: 3px 3px;

}
.weightt{
  background-image: url(E:\Fitness\gym\brunette-woman-doing-battle-rope-training_7502-4793_auto_x2.jpg);
  background-repeat:no-repeat ;
  height: 400px;
  width: 400px;
  padding: 13px 3px;
}
.classes{
  margin: 100px 0px;
  color: white;
  background-color: black;
  padding: 83px 4px;
}
.classes h1{
  text-align: center;
  font-size: 75px;
}
.classes p{
  font-size: 35px;
  padding: 10px 8px;
}
.upper{
  display: flex;
  padding: 10px 42px;
}
.upperOne{
  background-image: url(E:\Fitness\gym\src\fit-young-woman-lifting-barbells-looking-focused-working-out-gym_155003-5353.jpg);
  height: 500px;
  width: 600px;
}
.upperOne p{
  display: flex;
  justify-content: center;
 position: relative; 
 top: 24rem;
 
}
.upperTwo{
  background-image: url(E:\Fitness\gym\woman-doing-exercise-gym_116124-203.jpg);
  height: 500px;
  width: 600px;
}
.upperTwo p{
  display: flex;
  justify-content: center;
  position: relative; 
 top: 24rem;
}
.upperThree{
  background-image: url(E:\Fitness\gym\fitness-days-gorgeous-blonde-woman-gym-her-weekend-time_146671-17084.jpg);
  height: 500px;
  width: 600px;
}
.upperThree p{
  display: flex;
  justify-content: center;
  position: relative; 
 top: 24rem;
}
.lower{
  display: flex;
  padding: 10px 42px;
}
.lowerOne{
  background-image: url(E:\Fitness\gym\woman-exercising-with-dumbbell-muscle-gym_116317-294.jpg);
  height: 500px;
  width: 600px;
}
.lowerOne p{
  display: flex;
  justify-content: center;
  position: relative; 
  top: 24rem;
}
.lowerTwo{
  background-image: url(E:\Fitness\gym\senior-woman-doing-abs-yoga-mat_23-2148282954.jpg);
  height: 500px;
  width: 600px;
}
.lowerTwo p {
  display: flex;
  justify-content: center;
  position: relative; 
  top: 24rem;
}
.lowerThree{
  background-image: url(E:\Fitness\gym\keep-holding-gorgeous-blonde-woman-gym-her-weekend-time_146671-16987.jpg);
  height: 500px;
  width: 600px;
}
.lowerThree p {
  display: flex;
  justify-content: center;
  position: relative; 
  top: 24rem;
}
.teams{
  padding: 2px 60px;
}
.teams h1{
text-align: center;
font-size: 6rem;
}
.teams p{
  text-align: center;
font-size: 2em;
}
.threePhotos{
  display: flex;
  padding: 70px 10px;
}
a{
  padding: 0rem 4rem;
}
.onePhoto{
  text-align: center;
  padding: 2px 65px;
}
.twoPhoto{
  text-align: center;
  padding: 2px 65px;

}
.threePhoto{
  text-align: center;
  padding: 2px 65px;
}
.teambtn{
  text-align: center;
  padding: 4px 0px;
}
.teambtn button{
  background-color: skyblue;
 height: 55px;
 border-radius: 14px;
 font-size: larger;
}
.testimonials{
  text-align: center;
  color: white;
  background-color: black;
}
.four{
  text-align: center;
  color: white;
  background-color: black;
 
}
.slide{
  color: white;
  background-color: black;
  text-align: center;
  padding: 2rem 6rem;
}
.lorem{
  font-size: 26px;
  padding: 0px 50px;
}
.roundImage img{
  border-radius: 50%;
  border: 3px solid skyblue;
  height: 100px;
  width: 100px;
}
.fullThree{
  margin: 15px 0px;
}
